# Alternatively set DATABASE_URL instead of these POSTGRES_* connection fields.
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=daylah
POSTGRES_PASSWORD=change-me
POSTGRES_DATABASE=daylah
POSTGRES_SSLMODE=disable
POSTGRES_TIMEZONE=UTC
POSTGRES_AUTO_MIGRATE=false
SERVER_ADDRESS=127.0.0.1:8080
TRUST_LOOPBACK_PROXY=true
NATIVE_ORIGINS=https://localhost
